body
{
    background-color:#eeeeee;
}
#j100
{ 

margin:0px auto;
background-color:white;
width: 1100px;

}
#j200 {
   background-image: url("images/1000.jpg");
    width: 1100px;
    margin:100px auto;
}
#j300 {
   background-color:white;
   
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    width: 340px;
    margin:100px auto;
    height:auto;
}
#j400:hover{
  box-shadow: 1px 10px 5px #009688;
}
#j400 {
   background-color:black;
   color:white;
   
   border-color: red;
}
#j500 {
   margin:30px auto;
   
}
#j600 {
   background-color:#009688;
   
}


#j800 {
    margin:30px auto;
   
}
#CheckBox1
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}


* { box-sizing:border-box; }



.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:black; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:black;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:5px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#009688; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

