body {
    background-color:#eeeeee;
}

#c1{
    background-color: white;
    margin:20px auto;
    height:700px;
    border: 1px solid #888888;
    box-shadow: 1px 3px 10px #888888;
    
}
#c2{
    background-color: white;
    margin:150px auto;
   

}
#c3{
    background-color: #009688;
    height:60px;
   
   

}
#r5{
  
    margin:10px auto;
    

   

}
#TextArea1{
  
    margin:auto;
    

   

}
#h1{
    background-color: #009688;
   
   

}
#c7{
    background-color: white;
    margin:150px auto;
   height:250px;
   

}
#b2{
    background-color: #009688;
   
   

}
#r1{
   
    margin:35px auto;
   
    
}
#inputlg{
     border: 1px solid #888888;
    box-shadow: 1px 3px 10px #888888;
   margin-left: auto;
margin-right: auto;
display:block;
}
h1 {
    font-size: 700%;
}
#j10{
  
    background-color:#009688;
}
#j11:hover {
    background-color: #008073;
}





.j11:hover {
    background-color: #008073;
}


#a1{
    
    width:1px;
    height:1px;
}





















